
body {
    margin: 0;
    color: white;
}


.header {
    background: #ff0000;
    padding: 45px;
}


.main {
    display: flex;
    height: 70vh;
}


.left {
    background: #197b30;
    flex: 1;
    padding: 20px;
}


.right-group {
    flex: 2;
    display: flex;
    flex-direction: column;
}


.top-right {
    background: #fff200;
    flex: 2;
    padding: 10px;
}


.bottom-right {
    display: flex;
    flex: 1;
}


.purple {
    background: #630460;
    flex: 2;
    padding: 30px;
}


.magenta {
    background: #9e005d;
    flex: 2;
    padding: 30px;
}


.footer {
    background: #003663;
    padding: 30px;
    font-size: 20px;
}
